body {
  margin: 0;
  font-family: "Space Grotesk", -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0a0a;
}

code {
  font-family: "JetBrains Mono", source-code-pro, Menlo, Monaco, Consolas, monospace;
}
